body {
  width: 100%;
  margin: 0em;
}

/* Navbar section */

.navbar {
  padding: 1em 2em 1em 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black !important;
}

.logo {
  width: 180px;
}

/* Header / Jumbotron section */
.header-section {
  margin-top: 4em;
}

.jumbotron {
  height: 500px;
  background-image: url(../image/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-container {
  width: 40%;
  margin: 3em 2em 2em 3em;
  display: flex;
  flex-direction: column;
}

.jumbotron p {
  margin-left: 3.5rem;
}

.title,
.lead,
h5 {
  font-family: "Raleway", sans-serif;
  color: white;
}

.mb-5 {
  width: 65%;
  height: 3px;
  background-color: white;
  margin-bottom: -1rem !important;
  margin-left: 0em;
}

/* About section */
.aboutTextDiv h2:after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 0.3em solid #3cddec;
  margin: 0.5em auto 0.5em 0em;
}

/* Content section */
.inhaltContainer {
  min-height: 500px;
  max-height: fit-content;
  background-color: #3cddec;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0em !important;
}

.inhaltCol {
  width: 300px;
  height: 300px;
  padding: 0em 1em 0em 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inhaltCol h5 {
  margin: 1em auto 1em auto;
}

.imageDiv {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1,
.img2,
.img3 {
  width: 120px;
}

/* Registration form section */

.form-div {
  padding: 2em;
  background-color: #323232;
  width: 100%;
  height: fit-content;
  margin-bottom: 5em;
}

.form-control {
  border: 1px solid #3cddec;
  border-radius: 10px;
}

.jetzt-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.anmeldung-titel {
  width: 80%;
  height: 80px;
  background-color: #3cddec;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Raleway", sans-serif;
}

label {
  color: white;
}

/* Confirmation section */

.confirm-container {
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

.confirmation-div {
  width: 80%;
  height: 300px;
  margin: 3em 1em 3em 1em;
  padding: 2em;
  background-color: #323232;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

/* Table Admin section */

.tableContainer {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Footer section */
.card {
  background-image: url("../image/footer.png");
  background-position: center;
  background-size: cover;
  margin-top: 0em;
  height: 300px;
  border-radius: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-card a:hover {
  border-bottom: 3px solid white;
  width: fit-content;
  text-decoration: none;
}

.footer-card a {
  color: white;
}

.footer-card a {
  margin-bottom: 1em;
}

/* Media Query section */
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }
  .title {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
    margin-left: 1em;
  }
  .title-container,
  .jumbotron p,
  .aboutTextDiv,
  .aboutImgDiv {
    margin-top: 3em;
    margin-left: 1em;
  }
  .inhaltRow {
    display: flex;
    justify-content: center;
  }

  .mb-5 {
    width: 100%;
  }

  .logo {
    width: 120px;
  }
}
